<div class="container">
  <div class="row">
    <input
      stInput
      class="search-input"
      type="text"
      placeholder="Search users by their name or surname"
      [formControl]="searchUsersTerm"
    >
    <p class="users-count">{{ usersCount }} users found.</p>
  </div>

  @defer (when usersLoaded()) {
    <div class="row users">
      <st-users-table
        [users]="users()"
        (sortUsers)="sortUsersByAge()"
      />

      <st-pagination
        class="pagination"
        [totalPages]="Math.ceil(usersCount / (listConfig.filters.limit ?? 1))"
        (changePage)="onChangePage($event)"
        [currentPage]="(listConfig.filters.offset ?? 0) + 1"
      />
    </div>
  }

  @placeholder {
    <div class="progress-spinner">
      <st-progress-spinner />
    </div>
  }

</div>
