.progress-spinner {
  display: flex;
  justify-content: center;
}
.search-input {
  margin-bottom: 1rem;
  width: 300px;
  margin-right: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
}
.users {
  flex-direction: column;
}
.pagination {
  margin-top: 0.5rem;
  align-self: flex-end;
}
